@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif !important;
  font-style: normal;
}

/* color */
:root {
  --color-primary: #000;
  --color-secondary: #1e1b1b;
  --color-tertiary: #f5f5f5;
  --color-orange: #ff6433;
  --color-text: #232536;
}

.text-black {
  color: var(--color-primary);
}

.text-orange {
  color: var(--color-orange);
}

.secondary-bg {
  background-color: var(--color-secondary);
}

.tertiary-bg {
  background-color: var(--color-tertiary);
}

.font-manrope {
  font-family: "Manrope", sans-serif !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fs-64 {
  font-size: 4rem !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-48 {
  font-size: 3rem !important;
}
.fs-32 {
  font-size: 2rem !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-16 {
  font-size: 16px !important;
}
