.blog-title {
  max-width: 100% !important;
  height: 99px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.blog-subtitle {
  max-width: 100%!important;
  height: 75px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
